a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  position: relative;

  transition: transform 0.6s ease;
}

nav a:hover {
  color: var(--secondary-color-dark);
  transform: scale(1.1);
  transform-origin: center;
}

nav a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--secondary-color-dark);
  transition:
    width 0.5s,
    left 0.5s;

  position: absolute;
  left: 50%;
  bottom: -0.5em;
}

nav a:hover::after {
  left: 0;
  width: 100%;
}
