.button {
  width: 100%;
  color: #fff;
  border-radius: 0.5rem;
  padding: 2rem 2rem;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
}

.button-secondary {
  border-color: var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
}

.small {
  padding: 1.5rem 3rem;
}
