.button {
  width: 100%;
  color: #fff;
  border-radius: 0.5rem;
  padding: 2rem 2rem;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  border: 2px solid var(--highlighted-background);
  background-color: var(--highlighted-background);
  transition:
    background 1s,
    transform 1s;
  display: inline-block;
}

.button-secondary {
  border-color: var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
}

.small {
  padding: 1.5rem 3rem;
}

.button:hover {
  background-color: var(--highlighted-background-dark);
  border-color: var(--highlighted-background-dark);
  transform: scale(1.02);
}

.button-secondary:hover {
  background: var(--button-secondary-hover);
  border-color: var(--button-secondary-hover);

  color: var(--first-background);
}
