.hero {
  margin-top: 16rem;
  padding-bottom: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
}

.text-section,
.title {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  text-align: center;
}

.text-section {
  width: 50%;
  gap: 6rem;
}

.title h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 5.2rem;
}

.title span {
  color: var(--primary-color);
  font-style: italic;
  font-weight: 500;
}

.button-section {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
}
