@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
  /* header */
  header nav {
    width: 100%;
    height: 100%;
    background: var(--highlighted-background-dark);

    position: absolute;
    top: -100%;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: top 1s;
  }

  header nav.show {
    top: 0;
  }

  header nav ul {
    flex-direction: column;
    gap: 8rem;
  }

  header nav ul a {
    font-size: 2.5rem;
  }

  header nav ul a:hover {
    transform: scale(1.2);
  }

  header nav ul a::after {
    display: none;
  }

  header nav ~ div a[href="#contact"] {
    display: none;
  }

  header nav ~ div.toggle {
    display: block;
    position: relative;
  }
}

@media (max-width: 991.98px) {
  .container {
    width: 95%;
    border: 1px solid red;
  }
}

@media (max-width: 1199.98px) {
}

@media (max-width: 1399.98px) {
}
