@media (min-width: 1200px) {
}

@media (min-width: 1200px) and (max-width: 1599.98px) {
  /* About */
  section#about .content {
    width: 60%;
  }

  section#about .image {
    width: 40%;
  }
}

@media (min-width: 1000px) and (max-width: 1440px) {
  section#online-therapy .steps .step p {
    width: 100%;
  }
}

@media (max-width: 1199.98px) {
  /* header */
  header nav {
    width: 100%;
    height: 100%;
    background: var(--primary-color);

    position: absolute;
    top: -100%;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: top 1s;
  }

  header nav.show {
    top: 0;
  }

  header nav ul {
    flex-direction: column;
    gap: 8rem;
  }

  header nav ul a {
    font-size: 2.5rem;
  }

  header nav ul a:hover {
    color: var(--white);
    transform: scale(1.2);
  }

  header nav ul a::after {
    display: none;
  }

  header nav ~ div a[href="#contact"] {
    display: none;
  }

  header nav ~ div.toggle {
    display: block;
    position: relative;
  }

  header nav ~ div.toggle i.bi-x,
  header nav.show ~ div.toggle i.bi-list {
    display: none;
  }

  header nav ~ div.toggle i.bi-list,
  header nav.show ~ div.toggle i.bi-x {
    display: block;
  }

  /* Hero */
  div.hero {
    background-position: bottom center;
  }

  /* Home */
  section#home {
    padding: 8rem 0 10rem;
  }

  section#home .text {
    width: 100%;
  }

  section#home .button-container {
    flex-direction: column;
    gap: 1rem;
  }

  /* About */
  section#about .content {
    width: 50%;
  }

  section#about .image {
    width: 50%;
  }

  /* frequently asked questions */
  section#frequently-asked-questions .title {
    width: 80%;
  }

  /* contact */
  section#contact .container {
    flex-direction: column;
    gap: 8rem;
  }

  section#contact .first-step {
    width: 100%;
    padding-bottom: 8rem;
  }

  section#contact div.contact {
    width: 100%;
  }

  section#contact div.contact .button-container {
    gap: 1rem;
    flex-direction: column;
  }

  section#contact div.contact .button-container .btn,
  section#contact div.contact .button-container .btn-no-fill {
    width: 100%;
  }

  /* footer */
  footer .header {
    flex-direction: column;
    align-items: center;

    gap: 8rem;
  }

  footer .header .brand {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  footer .header .fast-nav,
  footer .header .contact {
    display: none;
  }

  footer .divider {
    width: 60%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 991.98px) {
  /* About */
  section#about .container-content {
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }

  section#about .content {
    width: 90%;
  }

  section#about .title {
    margin-bottom: 2rem;
  }

  section#about .image {
    width: 60%;
    margin: 0 auto;
  }

  section#about .image .crp-container {
    right: -6%;
  }

  /* Online therapy */
  section#online-therapy .steps {
    flex-direction: column;
    gap: 10rem;
  }

  section#online-therapy .steps::before {
    display: none;
  }

  /* frequently asked questions */
  section#frequently-asked-questions .title {
    width: 100%;
  }

  section#frequently-asked-questions .container {
    flex-direction: column;
    gap: 6rem;
  }
}

@media (max-width: 767.98px) {
  /* Home */
  section#home .text p {
    width: 85%;
  }

  /* About */
  section#about .content {
    width: 100%;
  }

  section#about .image {
    width: 80%;
  }

  section#about .featured-experiences {
    margin-top: 1rem;
  }

  section#about .featured-experiences .row-experience {
    flex-direction: column;
    gap: 8rem;
  }

  /* Online therapy */
  section#online-therapy .steps,
  section#online-therapy .steps .row-step {
    gap: 8rem;
  }

  section#online-therapy .steps .row-step {
    flex-direction: column;
  }
}

@media (max-width: 575.98px) {
  /* Home */
  section#home .text p {
    width: 100%;
  }

  /* About */
  section#about .image {
    width: 100%;
  }

  section#about .image .crp-container {
    right: -4%;
  }

  /* Online therapy */
  section#online-therapy .steps {
    flex-direction: column;
  }

  section#online-therapy .steps::before {
    display: none;
  }
}
