@import url("./theme.css");

/* all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family:
    var(--inter),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.6rem; /* 16px */
  background: var(--first-background);
  color: var(--body-color);
}

ul {
  list-style-type: none;
}

/* Logo */
.logo {
  font-family: var(--protest-strike);
  font-size: 2.4rem;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  width: fit-content;
}

.second-stage {
  margin-top: -1rem;
  margin-left: 1.2rem;
}

.letter {
  font-size: 3.2rem;
  margin-right: -0.1rem;
}

.slogan {
  margin-top: -1rem;
  margin-left: 1rem;
}

.slogan span {
  font-size: 1.4rem;
  font-family: var(--poppins);
}

/* Header */
header .container,
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-color);
}

header nav ul {
  gap: 2rem;
}

header a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  position: relative;
  transition:
    color 1s,
    background 1s,
    transform 1s;
}

header a:hover {
  color: var(--secondary-color-dark);
  transform: scale(1.04);
}

header nav a::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--secondary-color-dark);

  position: absolute;
  bottom: -0.5rem;
  left: 50%;

  transition:
    width 1s,
    left 1s;
}

header nav a:hover::after {
  width: 100%;
  left: 0;
}

header a[href="#contact"] {
  color: var(--white);
  background-color: var(--highlighted-background);
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
}

header a[href="#contact"]:hover {
  background-color: var(--highlighted-background-dark);
}

header div.toggle {
  display: none;
}

header div.toggle i {
  font-size: 4rem;
}

/* Hero */
div.hero {
  background-image: url(../../assets/images/home.png);
  background-repeat: no-repeat;
}

/* Home */
section#home {
  padding: 15rem 0 12rem;
}

section#home .container {
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#home .text {
  width: 60%;
  text-align: center;
}

section#home .text p {
  width: 75%;
  margin: 2rem auto 6rem;
}

section#home h1 {
  font-size: 5.2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

section#home .button-container {
  display: flex;
  gap: 4rem;
}

/* about */
section#about {
  margin-top: 10rem;
  padding-bottom: 20rem;
}

section#about .container-content {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

section#about .content {
  width: 30%;
}

section#about .title {
  font-family: var(--ibm-plex-serif);
  margin-bottom: 5rem;
  width: fit-content;
}

section#about .title h2 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 600;
}

section#about .title h1 {
  font-weight: 600;
  letter-spacing: 0.2rem;
}

section#about .text {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-bottom: 6rem;
}

section#about .text p {
  text-align: justify;
}

section#about .image {
  width: 30%;
  height: fit-content;
  position: relative;
  z-index: -1;
}

section#about .image img {
  width: 100%;
}

section#about .image .crp-container {
  background: var(--highlighted-background);
  color: var(--white);
  font-family: var(--poppins);
  font-size: 2rem;
  width: fit-content;
  padding: 1rem 3rem;
  border-radius: 1rem;
  text-align: center;

  position: absolute;
  bottom: -2%;
  right: -8%;
}

section#about .image .crp-container h3 {
  font-weight: 600;
  font-size: inherit;
}

section#about .image .crp-container h2 {
  letter-spacing: 0.2rem;
  font-size: inherit;
  font-weight: 600;
}

section#about div.text div {
  text-align: center;
}

section#about div > a[href="#contact"] {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
}

section#about .featured-experiences {
  display: flex;
  margin-top: 6rem;
}

section#about .featured-experiences .row-experience {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

section#about .featured-experiences .experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

section#about .featured-experiences .experience h3 {
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
}

section#about .featured-experiences .experience h4 {
  font-weight: normal;
}

/* Specialties */
section#specialties {
  background: var(--second-background);
  padding: 10rem 0;
}

section#specialties .swiper-slide {
  text-align: center;
  border: 1px solid var(--primary-color);
  padding: 3rem 2rem 12rem;
  background: var(--white);
  border-radius: 1rem;
  height: 480px;
}

section#specialties .swiper-pagination {
  position: relative;
  margin-top: 2rem;
}

section#specialties .swiper-pagination-bullet-active {
  background: var(--primary-color);
  transform: scale(1.5);
}

section#specialties .title {
  margin-bottom: 12rem;
}

section#specialties .title h1 {
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--primary-color);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
}

section#specialties .desc {
  margin: 3rem auto 0;
}

section#specialties h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

/* Online therapy */
section#online-therapy {
  padding: 8rem 0;
}

section#online-therapy .title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section#online-therapy .title h1,
section#online-therapy .title h2 {
  text-transform: uppercase;
  font-family: var(--ibm-plex-serif);
}

section#online-therapy .title h2 {
  color: var(--primary-color);
}

section#online-therapy .title p a {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: bold;
}

section#online-therapy img {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--step-therapy-background);
}

section#online-therapy .steps {
  margin-top: 12rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

section#online-therapy .steps .row-step {
  display: flex;
}

section#online-therapy .steps::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  height: 4px;
  background: url("../../assets/images/therapy-online-border.png") repeat-x;
  background-size: contain;
  z-index: 0;
}

section#online-therapy .steps .step,
section#online-therapy .steps .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

section#online-therapy .steps .step p {
  width: 80%;
}

section#online-therapy .image {
  position: relative;
  width: fit-content;
}

section#online-therapy .step-number {
  display: block;
  position: absolute;
  top: -1rem;
  right: -0.5rem;
  padding: 0.3rem 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  font-weight: bold;
}

/* testimonials */
section#testimonials {
  padding: 8rem 0;
  background: var(--second-background);
}

section#testimonials .title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 10rem;
}

section#testimonials .title h1,
section#testimonials .title h2 {
  text-transform: uppercase;
  font-family: var(--ibm-plex-serif);
}

section#testimonials .title h2 {
  color: var(--primary-color);
}

section#testimonials .swiper {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

section#testimonials .swiper-slide {
  padding: 2rem 4rem;
  box-shadow: 0px 0px 1rem 2px #0000001a;
  border-radius: 0.5rem;
  height: 300px;
}

section#testimonials .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

section#testimonials .body p {
  margin-bottom: 4rem;
}

/* class */
.container {
  width: 90%;
  margin: 0 auto;
}

.btn {
  padding: 2rem 8rem;
  border-radius: 0.5rem;
  border: 2px solid var(--highlighted-background);
  background-color: var(--highlighted-background);
  font-weight: 500;
  text-decoration: none;
  color: var(--white);
  transition:
    border-color 1s,
    transform 1s,
    background 1s;
}

.btn-no-fill {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  background-color: transparent;
}

.btn:hover {
  border-color: var(--highlighted-background-dark);
  background: var(--highlighted-background-dark);
  transform: scale(1.02);
}

.btn-no-fill:hover {
  background: initial;
  border-color: initial;
}

span.emphasis {
  color: var(--primary-color);
  font-weight: 500;
  font-style: italic;

  display: inline-block;
  animation-delay: 3s;
}

.img-fluid {
  border-radius: 1.2rem;
}
