@import url("./theme.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family:
    var(--inter),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.6rem; /* 16px */
  background: var(--first-background);
  color: var(--body-color);
}

/* Logo */
.logo {
  font-family: var(--protest-strike);
  font-size: 2.4rem;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  width: fit-content;
}

.second-stage {
  margin-top: -1rem;
  margin-left: 1.2rem;
}

.letter {
  font-size: 3.2rem;
  margin-right: -0.1rem;
}

.slogan {
  margin-top: -1rem;
  margin-left: 1rem;
}

.slogan span {
  font-size: 1.4rem;
  font-family: var(--poppins);
}

/* class */
.container {
  width: 85%;
  margin: 0 auto;
  border: 1px solid red;
}
