@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&display=swap");

:root {
  /* Background */
  --first-background: #fff;
  --second-background: #fff6f5;

  --highlighted-background: #ff7e70;
  --highlighted-background-dark: #f86e5e;

  --shadow: #ff655540;

  --button-secondary-hover: #faa7a1;

  /* Color */
  --body-color: #1e1e1e;
  --primary-color: #ff7e70;
  --secondary-color: #f6d6d3;
  --secondary-color-dark: #ebbab6;

  /* font-family */
  --inter: "Inter", sans-serif;
  --poppins: "Poppins", sans-serif;
  --ibm-plex-serif: "IBM Plex Serif", sans-serif;
  --protest-strike: "Protest Strike", sans-serif;
}
