@import url("../../assets/fonts/index.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  /* Background */
  --first-background: #fff;
  --second-background: #fff6f5;
  --step-therapy-background: #f6d6d3;

  --highlighted-background: #ff7e70;
  --highlighted-background-dark: #f86e5e;

  --shadow: #ff655540;

  --button-secondary-hover: #e9b9b4;

  /* Color */
  --white: #fff;
  --body-color: #1e1e1e;
  --primary-color: #ff7e70;
  --secondary-color: #f6d6d3;
  --secondary-color-dark: #ebbab6;

  /* font-family */
  --inter: "Inter", sans-serif;
  --poppins: "Poppins", sans-serif;
  --ibm-plex-serif: "IBM Plex Serif", sans-serif;
  --protest-strike: "Protest Strike", sans-serif;
}
