.home {
  margin-top: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
}

.text-section,
.title {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  text-align: center;
}

.text-section {
  width: 50%;
  gap: 6rem;
}

.title h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 5.2rem;
}

.title span {
  color: var(--primary-color);
  font-style: italic;
  font-weight: 500;
}

.button-section {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
}

.button-section a {
  color: #fff;
  border-radius: 0.5rem;
  width: 100%;
  padding: 2rem 2rem;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
}

.button-section a:last-child {
  border-color: var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
}
