.container {
  width: 90%;
  margin: 0 auto;
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  gap: 20rem;
}

.text {
  width: 60rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

.text .title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text .title h4 {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 2rem;
  font-family: var(--ibm-plex-serif);
}

.text .title h2 {
  font-size: 3.6rem;
  font-family: var(--ibm-plex-serif);
  font-weight: 600;
  letter-spacing: 0.5rem;
}

.text p {
  text-align: justify;
}

.image img {
  max-width: 40rem;
  box-shadow: -0.5rem -0.5rem 1rem 0.1rem var(--shadow);
  border-radius: 0.5rem;
}

.image {
  position: relative;
}

.image .crp {
  width: fit-content;
  background-color: var(--highlighted-background);
  padding: 1.5rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #fff;
  font-size: 2rem;
  border-radius: 1rem;
  align-items: center;

  position: absolute;
  bottom: 1rem;
  right: -5rem;
}

.image span {
  width: fit-content;
  font-weight: 500;
}

.image .crp .emphasis {
  font-weight: bold;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.link {
  color: var(--primary-color);
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  text-align: center;
}
