header {
  color: var(--secondary-color);
}

header ul {
  list-style: none;
  gap: 3.6rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}

button {
  outline: none;
  stroke: none;
  border: none;
  background-color: transparent;
}

nav ~ .toggle {
  display: none;
}
