header {
  color: var(--secondary-color);
}

header ul {
  list-style: none;
  gap: 3.6rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  outline: none;
  stroke: none;
  border: none;
  background-color: transparent;
}

nav ~ .toggle {
  display: none;
}

.contact a {
  color: #fff;
  background: var(--highlighted-background);
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  transition:
    background 1s,
    transform 1s;
}

.contact a:hover {
  background-color: var(--highlighted-background-dark);
  transform: scale(1.02);
}
